.listcontainer{
    display: flex;
    gap: 10px;
    width: max-content;
}



.card{
    background-color: white;
    color: black;
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    padding: 20px;
}

.card p{
    margin: 0%;
}

.light{
    color: gray;
}

.card button{
  font-size: 10px;
  margin-block: 5px;
  background-color: var(--verylightpink);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.stars {
  font-size: 35px;
  margin: 15px 0;
}

.star {
  cursor: pointer;
  color: #ccc;
  margin: 5px;
}

.star.selected {
  color: var(--darkpink);
}

.submit-rating,
.cancel-rating {
  margin-top: 10px;
  padding: 8px 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-rating {
  background: var(--darkpink);
  color: white;
  margin: 0%;
}

.cancel-rating {
  background: #bd0d00;
  color: white;
  margin-inline: 0%;
}

.sidebar{
  margin-top: 80px;
}